/* ==========================================================================
   Global
   ========================================================================== */
body {
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;

    .container__title {
        text-align: center;
    }
}

.wrapper {
    @include flexbox;
    @include flex-flow(row wrap);
    @include justify-content(space-between);
    @include align-items(center);
    @include media(mobile) {
        @include flex-flow(column wrap);
    }
}
/* ==========================================================================
   Header
   ========================================================================== */
.header-container {
    max-width: 1170px;
    margin: 5rem auto;


    .wrapper {
        @include flexbox;

        .header-logo {
            @include flex-grow(1);
        }
        .header-nav {
            @include flex-grow(2);
            padding-top: 40px;
        }


        ul {
            list-style: none;
            margin: 0;
            @include flexbox;
            @include flex-flow(row wrap);
            @include justify-content(flex-end);
            @include align-content(center);

            a {
             text-decoration: none;
             display: block;
             padding:0 1em;
             color: $grey;
             text-transform: uppercase;
           }

           .language {
               padding: 0;
               display: inline;
           }

        }

    }
 .logo-desktop {
     border: 1px solid red;
     width: 399px;
 }

} // header-container

/* ==========================================================================
   Intro
   ========================================================================== */

.intro {
    background-image: url("../img/bg-image2.png");
    background-position: 50% 150%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    
    h1 {
        padding-top: 20rem;
    }
}

/* ==========================================================================
   Showcase
   ========================================================================== */


.showcase__item  {
    width: 100%;
    background-color: $darkblue;
    height: 300px;
   /* @include flex-grow(1);*/
    margin-bottom: 2rem;
    /*margin-right: 2rem*/;

    @include media(mobile) {

        /*width: 350px;*/
        @include align-items(center);
        &:last-child {
            /*margin-right: 2rem;*/
        }
    }
    .image-container {
        background-color: rgba(128,146,169,1);
        height: 300px;
        z-index: 1;
        position: absolute;
        width: 100%;
        top: 0;    
    }

    figcaption {
        color: $darkgrey;
        text-align: center;
        text-transform: uppercase;
    }

    &:last-child {
        margin-right: 0;
    }

    figure {
        //padding: 15px; 
    }
}

/* ==========================================================================
   Servicos
   ========================================================================== */

.servicos {
    margin-top: 2rem;

    .wrapper {
        @include justify-content(center);
    }

}

.servicos__header {
    height: 200px;
    line-height: 6;
    background-color: #efefef;
    background-image: repeating-linear-gradient(145deg, transparent, transparent 1px, white 1px, white 4px);
    margin-bottom: 4rem;
    text-align: center;

    .container__title {
        clear: both;
    }
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    position: relative;
    top: -17px;
    margin-left: 50px;
    float: left;
}

.circle--2 {
    @extend .circle;
    background-color: $grey;
    margin-left: 10px;

}

.circle--3 {
    @extend .circle;
    background-color: $lightblue;
    margin-left: 10px;
}

.circle--4 {
    @extend .circle;
    background-color: $darkblue;
    margin-left: 10px;
}

.servicos__item {
    transition: all .4s ease-out;
    &:first-child {
        padding-right: 5px;
    }
}

.item_1 {
    opacity: 0;
    transform: translate(-50%);
    &:hover {
        opacity: 1;
        transform: translate(0);
    }
}

.item_2 {
    opacity: 0;
    transform: translate(50%);

    &:hover {
        opacity: 1;
        transform: translate(0);
    }
}


/* ==========================================================================
   Contactos
   ========================================================================== */
.contactos {
    margin: 0 0 4rem;
}

input,
textarea {
    border: 1px solid $lightblue;
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}


input[type="submit"] {
    background-color: $lightblue;
    color: $grey;
    cursor: pointer;
}

.form {
    margin-bottom: 1.5rem;
}

.form__contactos {
    margin: 0 auto;

}

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
    background-color: $darkgrey;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;

    @include media(mobile){
        .wrapper {
            @include align-items(center);
        }
    }
}

.footer__tel {
    @include flex-grow(1);
}
.footer__email{
    @include flex-grow(1);
    @include align-self(center);
}
.footer__social {
    @include flex-grow(1);
}

.footer__patrocinio {
    margin:0 auto;
    text-align: center;
}
