/* ==========================================================================
   Colors variables
   ========================================================================== */
$grey: #6d6e71;
$darkblue: #8092a9;
$lightblue: rgba($darkblue, .5);
$darkgrey: #231f20;
/* ==========================================================================
   Fonts variables
   ========================================================================== */


$fallback: Arial, Helvetica, sans-serif;
$main-font: 'Lato', $fallback;
$secondary-font: 'Quicksand', $fallback;
