/* ==========================================================================
   Helper classes
   ========================================================================== */


.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.clear {
    clear: both;
}

.no-scroll {
    overflow: hidden;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.block {
    display: block;
}
.block-important {
	display: block !important;
}
.block-mobile {
    @include media(mobile) {
        display: block !important;
    }
}
.inline-block {
    display: inline-block;
}

.no-border {
    border: none !important;
}

@include media(not-small) {
    .fleft-desktop {
        float: left;
    }
    .fright-desktop {
        float: right;
    }
}

.flex {
    @include flexbox();
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.no-border.no-border {
    border: none;
}
.light {
    font-weight: 300;
}
.regular {
    font-weight: 400;
}
.semibold {
    font-weight: 500;
}
.bold {
    font-weight: 600;
}
.italic {
    font-style: italic;
}
.uppercase {
    text-transform: uppercase;
}

.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.vertical-center {
	vertical-align: middle;
}
.nowrap {
    white-space: nowrap;
}

.line-through {
    text-decoration: line-through;
}

.no-transition {
    @include transition(none !important);
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
@include media(not-small) {
    .visuallyhidden-small {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}

.hide {
    display: none;
}
.hidden {
    display: none !important;
}
.hidden-alt {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.visible-print-inline,
.visible-print {
    display: none !important;
}
.print-page-break {
    display: none;
}

@include media(desktop) {
    .hidden-desktop {
        display: none !important;
    }
}
@include media(mobile) {
    .hidden-mobile {
        display: none !important;
    }
}

@include media(not-small) {
    .hidden-not-small {
        display: none !important;
    }
}
@include media(small) {
    .hidden-small {
        display: none !important;
    }
}
@include media(not-xlarge) {
    .hidden-not-xlarge {
        display: none !important;
    }
}

.fadeout {
    visibility: hidden;
    opacity: 0;
    @include transition("visibility 0s 0.3s, opacity 0.3s");
}
.fadein {
    visibility: visible;
    opacity: 1;
    @include transition-delay(0s);
}
@include media(mobile) {
    .fadeout-mobile {
        visibility: hidden;
        opacity: 0;
        @include transition("visibility 0s 0.3s, opacity 0.3s");
    }
    .fadein-mobile {
        visibility: visible;
        opacity: 1;
        @include transition-delay(0s);
    }
}
@include media(small) {
    .fadeout-small {
        visibility: hidden;
        opacity: 0;
        @include transition("visibility 0s 0.3s, opacity 0.3s");
    }
    .fadein-small {
        visibility: visible;
        opacity: 1;
        @include transition-delay(0s);
    }
}
@include media(desktop) {
    .fadeout-desktop {
        visibility: hidden;
        opacity: 0;
        @include transition("visibility 0s 0.3s, opacity 0.3s");
    }
    .fadein-desktop {
        visibility: visible;
        opacity: 1;
        @include transition-delay(0s);
    }
}
@include media(not-small) {
    .fadeout-not-small {
        visibility: hidden;
        opacity: 0;
        @include transition("visibility 0s 0.3s, opacity 0.3s");
    }
    .fadein-not-small {
        visibility: visible;
        opacity: 1;
        @include transition-delay(0s);
    }
}



// For column-count
.prevent-line-break {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    display: table;
}



/* ==========================================================================
   Layout
   ========================================================================== */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    @include opacity(.8);
    left: 0;
    top: 0;
    z-index: 11;
    display: none;
}
.wide {
    width: 100%;
    float: none;
    margin: 0;
}
@include media(desktop) {
    .flexbox-wrapper {
        @include flexbox();
        @include align-items(stretch);
        @include align-content(stretch);
        @include flex-direction(row);
        .content {
            padding-right: 1em;
            @include flex(1);
        }
    }
}
.content {
    box-sizing: border-box;
}

.description-label {
    @extend .italic;
    margin-bottom: 12px;
}

.split {
	position: relative;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.split:before {
	content: ' ';
	display: block;
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #999;
	text-align: center;
}
.split .text {
	position: relative;
	z-index: 1;
	display: inline-block;
	padding: 0 30px;
	background: #FFF;
	font-size: 18px;
	font-size: 1.8rem;
}
