html {
    overflow-y: scroll;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
    min-width: 320px;
}
body,
button,
input,
select,
textarea {
    color: grey;
    font-family: $main-font, "sans-serif";
    font-size: 1.5rem;
    font-weight: 400;
}
input {
    // ios safari reset
    -webkit-appearance: none;
    border-radius: 0;
}
i {
    font-style: normal;
}
button {
    background-color: transparent;
}
audio,
canvas,
img,
video {
    vertical-align: middle;
}
ul,
ol,
fieldset {
    padding: 0;
}
body,
ul,
p,
fieldset,
figure,
h4,
h5,
h6 {
    margin: 0;
}
input,
button,
fieldset,
iframe {
    border: none;
}

h2,
h3 {
    font-weight: 400;
}

textarea {
    resize: vertical;
}
button,
a {
    cursor: pointer;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
table {
    border-collapse: collapse;
}
th {
    font-weight: normal;
}

img {
    max-width: 100%;
}
svg {
    width: 100%;
    height: 100%;
}


// Prevent focus on non-clicable elements
[tabindex="-1"]:focus {
    outline: 0;
}

::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

// for ie
select::-ms-expand {
    display: none;
}
input::-ms-clear {
    display: none;
}
main {
    display: block;
}
